@model CheckoutViewModel
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@if (User.Identity.IsAuthenticated)
{
    <ul class="breadcrumb">
        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
        <li>Giỏ hàng</li>
    </ul>
    <h3>
        Sản phẩm hiện có [ <small>@Model.CartItems.Count sản phẩm </small>]
        <a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Quay về trang chủ </a>
    </h3>
    <hr class="soft" />
    @if (TempData["SuccessMsg"] != null)
    {
        <span class="alert alert-success">@TempData["SuccessMsg"]</span>
    }
    else
    {
        <table class="table table-bordered text-center tb-rm">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Mô tả</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td> <img width="60" src="@item.Image" alt="" /></td>
                        <td>@item.Description</td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>@item.Price.ToString("N0") VNĐ</td>
                        <td>
                            @{
                                CultureInfo culs = CultureInfo.GetCultureInfo("vi-VN");
                                var s = (item.Quantity * item.Price);
                                string pricett = s.ToString("#,###", culs.NumberFormat);
                            }
                            @pricett VNĐ
                        </td>
                    </tr>
                }

                <tr>
                    <td colspan="4" style="text-align:right"><strong>Số tiền phải trả =</strong></td>
                    <td class="label label-important" style="display:block"> <strong> @Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("N0") VNĐ</strong></td>
                </tr>
            </tbody>
        </table>
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Đặt hàng
        </button>
        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="form-horizontal" action="/@culture/Cart/Checkout" method="post">
                            <div class="form-group">
                                <label class="control-label" for="inputCountry">Name </label>
                                <div class="controls">
                                    <input class="form-control" type="text" id="inputCountry" asp-for="CheckoutModel.Name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputCountry">Address </label>
                                <div class="controls">
                                    <input class="form-control" type="text" id="inputCountry" asp-for="CheckoutModel.Address" placeholder="Address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="inputCountry">Email </label>
                                <div class="controls">
                                    <input class="form-control" type="email" id="inputCountry" asp-for="CheckoutModel.Email" placeholder="Email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="inputCountry">PhoneNumber </label>
                                <div class="controls">
                                    <input class="form-control" type="number" id="inputCountry" asp-for="CheckoutModel.PhoneNumber" placeholder="PhoneNumber">
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary" onclick="setNumber()">Đặt hàng</button>
                                </div>
                            </div>
                            <div class="d-none">
                                <input type="text" asp-for="UserName" value="@User.Identity.Name" />
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <script>
        window.location.href = "/@culture/Account/Login";
    </script>
}

